header {
    margin: 0;
    padding: 0;
}

.header-div-main {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 50px;
    display: flex;
}

.header-image-01 {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 50px;
}

.image-content {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

.header-button-02 {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    width: 50%;
    height: 50px;
    text-align: center;
}

.header-nav-button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

.header-ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    list-style: none;
}

.header-li {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans';
    display: inline-block;
}

.header-li-vegetables {
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 0px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans';
    display: inline-block;
}



.header-button-content {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: bold;
    font-weight: bold;
    box-shadow: 0px;
    text-shadow: 0px;
    border: 0px;
}



.header-option-button-03 {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 50px;
    display: flex;
}


.header-search-div-01 {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 50px;
}

.header-search-div-01-01 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    background-color: #F5F5F5;
    border-style: solid;
    border-color: #F5F5F5;
    border-radius: 20px;
}
.header-search-icon {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    align-items: center;
}
.header-search-button {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 43px;
    border-radius: 50px;
    border-style: solid;
    text-align: center;
    border-color: #F5F5F5;
    background-color: #F5F5F5;
}

.header-search-button:hover {
    background-color: #99999b;
}

.header-search-input {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 40px;
    border-color: #F5F5F5;
    border-style: solid;
    color: #7F7F80;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    background-color: #F5F5F5;
}

.header-search-input:hover {
    background-color: #ceced1;
}

.header-wishlist-02 {
    margin: 0px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    width: 20%;
    height: 50px;
    align-items: center;
}

.header-wishlist-main-content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px;
}

.header-wishlist-button {
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    border-style: none;
    border-radius: 100px;
    border-color: white;
    background-color: white;
}

.header-wishlist-button:hover {
    background-color: #99999b;
}
.header-wishlist-svg {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    align-items: center;
}


.header-cart-03 {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 20%;
    height: 50px; 
    align-items: center;  
}

.header-cart-main-content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 50px; 
}

.header-cart-button {
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    border-style: none;
    border-radius: 100px;
    border-color: white;
    background-color: white;
    align-content: center;
}

.header-cart-button:hover {
    background-color: #99999b;
}

.header-cart-svg {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    align-items: center;    
}

.header-strip-04 {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 0%;
    height: 0px;   
}

.header-strip-button {
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: 0px;
}

.header-strip-svg {
    margin: 0px;
    padding: 0px;
    height: 0px;
    width: 0px;
}


@media screen and (min-width: 740px) and (max-width: 1067px) {
    form {
        width: 44px;
        height: 45px;
    }
    header {
        margin: 0;
        padding: 0;
        width: auto;
    }
    
    .header-div-main {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        height: 50px;
        display: flex;
    }
    
    .header-image-01 {
        margin: 0;
        padding: 0;
        width: 60%;
        height: 50px;
    }
    
    .image-content {
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
    }
    
    .header-button-02 {
        margin: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 0%;
        height: 0px;
        text-align: center;
    }
    
    .header-nav-button {
        margin: 0;
        padding: 0;
        width: 0%;
        height: 0px;
    }
    
    .header-ul {
        margin: 0;
        padding: 0;
        width: 0%;
        height: 0px;
        list-style: none;
    }
    
    .header-li {
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        font-size: 0px;
        text-align: center;
        font-family: 'Lucida Sans';
        display: inline-block;
    }
    
    .header-li-vegetables {
        margin: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 0px;
        height: 0px;
        font-size: 0px;
        text-align: center;
        font-family: 'Lucida Sans';
        display: inline-block;
    }
    
    
    
    .header-button-content {
        margin: 0;
        padding: 0;
        background-color: white;
        font-size: 0px;
        box-shadow: 0px;
        text-shadow: 0px;
        border: 0px;
    }
    
    
    
    .header-option-button-03 {
        margin: 0;
        padding: 0;
        width: 40%;
        height: 50px;
        display: flex;
        text-align: right;
    }
    
    
    .header-search-div-01 {
        margin: 0;
        padding: 0 10px;
        width: 25%;
        height: 50px;
    }
    
    .header-search-div-01-01 {
        margin: 0;
        padding: 0px;
        width: 100%;
        height: 45px;
    }
    .header-search-icon {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 20px;
    }
    .header-search-button {
        margin: 0;
        padding: 0;
        width: 44px;
        height: 44px;
        border-radius: 100px;
        border-style: solid;
        text-align: center;
        border-color: #F5F5F5;
        background-color: #F5F5F5;
    }
    
    .header-search-button:hover {
        background-color: #99999b;
    }
    
    .header-search-input {
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        font-size: 0px;
    }
    
    .header-search-input:hover {
        background-color: #ceced1;
    }
    
    .header-wishlist-02 {
        margin: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        width: 25%;
        height: 50px;
    }
    
    .header-wishlist-main-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px;
    }
    
    .header-wishlist-button {
        margin: 0;
        padding: 0;
        width: 44px;
        height: 44px;
        border-style: none;
        border-radius: 100px;
        border-color: white;
        background-color: white;
    }
    
    .header-wishlist-button:hover {
        background-color: #99999b;
    }
    .header-wishlist-svg {
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        align-items: center;
    }
    
    
    .header-cart-03 {
        margin: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        width: 25%;
        height: 50px;   
    }
    
    .header-cart-main-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px; 
    }
    
    .header-cart-button {
        margin: 0;
        padding: 0;
        width: 44px;
        height: 44px;
        border-style: none;
        border-radius: 100px;
        border-color: white;
        background-color: white;
    }
    
    .header-cart-button:hover {
        background-color: #99999b;
    }
    
    .header-cart-svg {
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        align-items: center;    
    }


    .header-strip-04 {
        margin: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        width: 25%;
        height: 50px;   
    }


    .header-strip-main-content {
        padding: 0 10px;
        margin: 0;
        width: 100%;
        height: 50px;
    }

    .header-strip-button {
        margin: 0;
        padding: 0;
        width: 44px;
        height: 44px;
        border-style: none;
        border-radius: 100px;
        border-color: white;
        background-color: white;
        align-content: center;
    }
    
    .header-strip-button:hover {
        background-color: #99999b;
    }
    
    .header-strip-svg {
        margin: 0px;
        padding: 0px;
        height: 20px;
        width: 20px;
        align-items: center;
    }
}


@media screen and (min-width: 0px) and (max-width: 739px) {
    form {
        width: 44px;
        height: 45px;
    }
    header {
        margin: 0;
        padding: 0;
        width: auto;
    }
    
    .header-div-main {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        height: 50px;
        display: flex;
    }
    
    .header-image-01 {
        margin: 0;
        padding: 0;
        width: 40%;
        height: 50px;
    }
    
    .image-content {
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
    }
    
    .header-button-02 {
        margin: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 0%;
        height: 0px;
        text-align: center;
    }
    
    .header-nav-button {
        margin: 0;
        padding: 0;
        width: 0%;
        height: 0px;
    }
    
    .header-ul {
        margin: 0;
        padding: 0;
        width: 0%;
        height: 0px;
        list-style: none;
    }
    
    .header-li {
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        font-size: 0px;
        text-align: center;
        font-family: 'Lucida Sans';
        display: inline-block;
    }
    
    .header-li-vegetables {
        margin: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 0px;
        height: 0px;
        font-size: 0px;
        text-align: center;
        font-family: 'Lucida Sans';
        display: inline-block;
    }
    
    
    
    .header-button-content {
        margin: 0;
        padding: 0;
        background-color: white;
        font-size: 0px;
        box-shadow: 0px;
        text-shadow: 0px;
        border: 0px;
    }
    
    
    
    .header-option-button-03 {
        margin: 0;
        padding: 0;
        width: 60%;
        height: 50px;
        display: flex;
        text-align: right;
    }
    
    
    .header-search-div-01 {
        margin: 0;
        padding: 0 10px;
        width: 25%;
        height: 50px;
    }
    
    .header-search-div-01-01 {
        margin: 0;
        padding: 0px;
        width: 100%;
        height: 45px;
    }
    .header-search-icon {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 20px;
    }
    .header-search-button {
        margin: 0;
        padding: 0;
        width: 44px;
        height: 44px;
        border-radius: 100px;
        border-style: solid;
        text-align: center;
        border-color: #F5F5F5;
        background-color: #F5F5F5;
    }
    
    .header-search-button:hover {
        background-color: #99999b;
    }
    
    .header-search-input {
        margin: 0;
        padding: 0;
        width: 0px;
        height: 0px;
        font-size: 0px;
    }
    
    .header-search-input:hover {
        background-color: #ceced1;
    }
    
    .header-wishlist-02 {
        margin: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        width: 25%;
        height: 50px;
    }
    
    .header-wishlist-main-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px;
    }
    
    .header-wishlist-button {
        margin: 0;
        padding: 0;
        width: 44px;
        height: 44px;
        border-style: none;
        border-radius: 100px;
        border-color: white;
        background-color: white;
    }
    
    .header-wishlist-button:hover {
        background-color: #99999b;
    }
    .header-wishlist-svg {
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        align-items: center;
    }
    
    
    .header-cart-03 {
        margin: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        width: 25%;
        height: 50px;   
    }
    
    .header-cart-main-content {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50px; 
    }
    
    .header-cart-button {
        margin: 0;
        padding: 0;
        width: 44px;
        height: 44px;
        border-style: none;
        border-radius: 100px;
        border-color: white;
        background-color: white;
    }
    
    .header-cart-button:hover {
        background-color: #99999b;
    }
    
    .header-cart-svg {
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;
        align-items: center;    
    }


    .header-strip-04 {
        margin: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        width: 25%;
        height: 50px;   
    }


    .header-strip-main-content {
        padding: 0 10px;
        margin: 0;
        width: 100%;
        height: 50px;
    }

    .header-strip-button {
        margin: 0;
        padding: 0;
        width: 44px;
        height: 44px;
        border-style: none;
        border-radius: 100px;
        border-color: white;
        background-color: white;
        align-content: center;
    }
    
    .header-strip-button:hover {
        background-color: #99999b;
    }
    
    .header-strip-svg {
        margin: 0px;
        padding: 0px;
        height: 20px;
        width: 20px;
        align-items: center;
    }
}